# Executive Summary â€“ SaaS Analytics (Python)

This notebook presents high-level business insights derived from a modular Python analytics engine, including revenue, churn, cohort retention, and A/B testing results.

In [10]:
import sys
sys.path.append("../src")

import pandas as pd

from load_and_validate import load_data
from revenue_metrics import revenue_summary
from revenue_concentration import revenue_concentration
from churn_analysis import churn_metrics
from cohort_retention import cohort_retention
from ab_testing import ab_test_summary

In [2]:
df = load_data()
df.head()

,user_id,signup_date,last_active_date,plan_type,monthly_revenue,country,experiment_group,conversion,refund_flag
0,U001,2023-01-05,2023-09-10,Basic,29,India,control,1,0
1,U002,2023-01-12,2023-02-20,Pro,79,USA,variant,1,0
2,U003,2023-02-01,2023-03-05,Basic,29,India,control,0,0
3,U004,2023-02-15,2023-08-01,Enterprise,199,UK,variant,1,0
4,U005,2023-03-02,2023-03-18,Basic,29,India,control,0,1

In [3]:
summary, revenue_by_plan = revenue_summary(df)

print("TOTAL REVENUE:", summary["total_revenue"])
print("ARPU:", summary["average_revenue_per_user"])
print("\nRevenue by Plan:")
revenue_by_plan

TOTAL REVENUE: 1195
ARPU: 79.67

Revenue by Plan:

plan_type
Enterprise    597
Pro           395
Basic         203
Name: monthly_revenue, dtype: int64

In [4]:
top_n, concentration = revenue_concentration(df)

print(f"Top {top_n} users contribute {concentration * 100}% of total revenue")

Top 1 users contribute 17.0% of total revenue

In [5]:
churn_rate, revenue_at_risk = churn_metrics(df)

print(f"Churn Rate: {churn_rate * 100}%")
print(f"Monthly Revenue at Risk: {revenue_at_risk}")

Churn Rate: 47.0%
Monthly Revenue at Risk: 253

In [9]:
ab_summary, lift = ab_test_summary(df)

print("A/B Test Conversion Rates:")

print(f"Conversion Lift: {lift * 100}%")

A/B Test Conversion Rates:
Conversion Lift: 206.0%